<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
    <h1>此类型下还没有收录书籍</h1>
<% else %>
    <% @books.each do |book| %>
        <h2><%= link_to book.title, book_path(book) %></h2>
        <p class="h4"><span>作者: </span><%= book.author %> | <span><%= book.created_at %></span></p>
    <% end %>
<% end %>

